<!-- Button trigger modal -->
<div class="title-block">
	<button type="button" class="btn btn-oval btn-primary" data-toggle="modal" data-target="#addProprietorModal">Add
		Proprietor</button>
</div>
<!-- Modal -->
<div class="modal fade" id="addProprietorModal" tabindex="-1" role="dialog" aria-labelledby="addProprietorModalLabel"
 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addProprietorModalLabel">Add Proprietor</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="http://localhost/destination-admin/proprietors/add-proprietors" method="post" accept-charset="utf-8">
				<div class="modal-body">

					<div class="form-group">
						<label class="control-label">First Name</label>
						<input type="text" class="form-control boxed" name="first_name">
					</div>
					<div class="form-group">
						<label class="control-label">Last Name</label>
						<input type="text" class="form-control boxed" name="last_name">
					</div>
					<div class="form-group">
						<label class="control-label">Phone Number</label>
						<input type="text" class="form-control boxed" name="proprietor_phone">
					</div>
					<div class="form-group">
						<label class="control-label">National ID</label>
						<input type="text" class="form-control boxed" name="national_id">
					</div>
					<div class="form-group">
						<label class="control-label">Business Reg ID</label>
						<input type="text" class="form-control boxed" name="business_reg_id">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>
<section class="section">

	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-block">
					<section class="example">
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr>

										<th>No.</th>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Phone Number</th>
										<th>National ID</th>
										<th>Business Reg </th>
										<th>Status</th>
										<th>Actions</th>

									<tr>
								</thead>
							</table>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<!DOCTYPE html>
	<html>

	<head>
		<title>Proprietors</title>
		<link href="http://localhost/destination-admin/assets/custom/themes/vendor/bootstrap/css/dashboard.css" rel="stylesheet">
		<link href="http://localhost/destination-admin/assets/custom/themes/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body>

		<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
			<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Destination Laikipia</a>
			<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
			<ul class="navbar-nav px-3">
				<li class="nav-item text-nowrap">
					<a class="nav-link" href="http://localhost/destination-admin/admin/logout">Sign out</a>
				</li>
			</ul>
		</nav>



		<div class="container-fluid">
			<div class="row">
				<nav class="col-md-2 d-none d-md-block bg-light sidebar">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link active" href="http://localhost/destination-admin/activities/all-activities">
									<span data-feather="home"></span>
									Activities <span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="http://localhost/destination-admin/business-types/all-business-types">
									<span data-feather="loader"></span>
									Business Types
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="http://localhost/destination-admin/proprietors/all-proprietors">
									<span data-feather="users"></span>
									Proprietors
								</a>
							</li>

						</ul>
						</ul>
					</div>
				</nav>
			</div>
		</div>

		<script src="http://localhost/destination-admin/assets/custom/themes/vendor/jquery/jquery-3.3.1.slim.min.js"></script>
		<script src="http://localhost/destination-admin/assets/custom/themes/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="http://localhost/destination-admin/assets/custom/themes/vendor/bootstrap/js/feather.min.js"></script>
		<script src="http://localhost/destination-admin/assets/custom/themes/vendor/bootstrap/js/Chart.min.js"></script>
		<script src="http://localhost/destination-admin/assets/custom/themes/vendor/bootstrap/js/dashboard.js"></script>
	</body>


	</html>
